<main class="nav-spacer py-4">
  <div class="bg-primary-gradient bg-lines-01">
    <div class="container-flex">
      <div class="text-center py-2">
        <h1 class="font1">“AT-1 WELLHEAD PENETRATOR”</h1>
      </div>
      <div class="text-center">
        <figure class="col-12 p-0 m-0">
          <div class="embed-responsive embed-responsive-16by9">
            <video class="d-block w-100" playsinline="" autoplay="" loop="" muted="" preload="metadata">
              <source src="../../../assets/videos/videoWEBPAGE1.mp4" type="video/mp4" allowfullscreen="false">
            </video>
            <!--video playsinline="" autoplay="" loop="" muted="" preload="metadata" src="" class="d-block w-100">
              <source src="E://ANGULAR/HECTORAHOWWEB/AhowTechFront1/src/assets/videos/videoWEBPAGE1.mp4 " type="video/mp4">

              <iframe class="embed-responsive-item" src="../../../assets/videos/videoWEBPAGE1.mp4" allowfullscreen="false"></iframe>
              -->
          </div>
        </figure>
      </div>
    </div>
  </div>

  <div class="bg-primary-gradient bg-lines-02 fondo2">
    <section class="container pb-3 pb-md-4">
      <div class="row text-center">
        <h2 class="col-md-8 pt-2 pt-md-4 mx-auto">
          Most outstanding features that translates in big Rig Time Savings:
        </h2>
        <h3 class="col-md-10 pt-2 pt-md-4 mx-auto">
          <ul>
            <li><i class="ion-ios-checkmark"></i>Is a POSITIVE mechanical seal. </li>
            <li><i class="ion-ios-checkmark"></i>No need of epoxy o tape so it can be installed in any weather
              condition.</li>
            <li><i class="ion-ios-checkmark"></i>NO splice in pump cable. Below the hanger.</li>
            <li><i class="ion-ios-checkmark"></i>The only required electrical connection is outside of the wellhead
              connecting the cable from below the wellhead to the surface power cable. <a data-toggle="modal"
                data-target="#exampleModal"> VER +</a> </li>
            <li><i class="ion-ios-checkmark"></i>Fastest install time available in the market.</li>
            <li><i class="ion-ios-checkmark"></i>Can replace and retrofit into any competitor’s existing profile without
              wellhead modification.</li>
            <li><i class="ion-ios-checkmark"></i>It has its own standard profile that can be machined directly into any
              wellhead allowing the lowest COST and the largest possible tubing and ESP completion.</li>
            <li><i class="ion-ios-checkmark"></i>It can fit into a 7” x 3-1/2” completion providing 5000 psi WP rating
              with up to #1 size pump cable.</li>
            <li><i class="ion-ios-checkmark"></i>Field installed eliminates tubing space-out.</li>
            <li><i class="ion-ios-checkmark"></i>NO special tools required.</li>
          </ul>
        </h3>
      </div>
    </section>
  </div>




  <!-- The Modal -->

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <mark>
            <img id="myImg" src="../../../assets/images/products/SPS6000.jpg" alt="VER +">
          </mark>
        </div>

      </div>
    </div>
  </div>



</main>
