<!--footer class="bg-dark py-4 text-light text-center fixed-bottom"
  <div class="container-fluid">
-->

<!--div class="container-fluid" style="--bs-gutter-x: 0rem;"-->
<footer class="bg-dark text-light">

  <div class="row">
    <div class="col-md-3">
      <small class="px-1" style="color:white;"><span class="font-weight-bold">@2022 AHOWTECH,</span> creado por EdKla7.</small>
        <br><small class="px-1" style="color:white;">*Todos los derechos reservados</small>
      <!--/br><small><span class="font-weight-bold">Las imágenes pueden estar sujetas a derechos de autor.</span>
              <a href="https://support.google.com/legal/answer/3463239?hl=es-419" jslog="52885;ved:0CBAQlZ0DahcKEwjQ5qCTiu7qAhUAAAAAHQAAAAAQAw;track:click" class="qnLx5b" target="_blank">Más información</a -->
    </div>
    <div class="col-md-5 ">
      Las imágenes pueden estar sujetas a derechos de autor.&nbsp; <br><a
        href="https://support.google.com/legal/answer/3463239?hl=es-419"
        jslog="52885;ved:0CBAQlZ0DahcKEwjQ5qCTiu7qAhUAAAAAHQAAAAAQAw;track:click" class="qnLx5b" target="_blank">Más
        información</a>
    </div>

    <div class="col-md-2">
      <a class="link-light text-decoration-none me-3" target="_blank"
        href="../../../assets/docs/Política de Aviso de Privacidad.pdf">Privacy Policy</a>
    </div>
    <div class="col-md-2">
      <a class="link-light text-decoration-none" target="_blank"
        href="../../../assets/docs/POLTICA_T_DDPP_AHOWTECH.pdf">Terms of Use</a>
    </div>
  </div>
</footer>
<!--/div-->
