<section class="content">
  <div class="block-content">
      <h3 class="block-title">Contact</h3>
      <div class="row">
          <div class="col-md-6">
              <form class="contact-form" id="contact_form" #mailForm="ngForm"> <!-- action="/src/assets/php/send_mail.php" method="post"  -->
                  <div class="form-control-wrap">
                      <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                      <div class="form-group">
                          <!--input type="text" class="form-control" id="fname" placeholder="Nombre*" name="fname" -->
                          <input type="text" class="form-control" id="fname" placeholder="Nombre*" [(ngModel)]="dataset.fname" name="fname">
                      </div>
                      <div class="form-group mar-top-40">
                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico*" [(ngModel)]="dataset.email" name="email">
                        <!--input type="email" class="form-control" id="email" placeholder="Correo Electronico*" name="email"-->
                      </div>
                      <div class="form-group mar-top-60">
                        <!--input type="text" [(ngModel)]="dataset.comment" name="comment" -->
                        <textarea class="form-control" rows="10" id="comment" placeholder="Su Mensaje" [(ngModel)]="dataset.comment" name="comment"></textarea>
                      </div>
                      <div class="form-group mar-top-40">
                          <!--button-- type="submit" class="btn v7">SEND MESSAGE</!--button-->
                          <button (click)="onSubmit()"  class="btn v7">SEND MESSAGE</button>
                      </div>
                  </div>
              </form>
          </div>

          <div class="col-md-5 offset-md-1">
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-location-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>ADDRESS</h5>
                      <p>Houston, Texas, United States os America</p>
                  </div>
              </div>
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-telephone-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>Telefono</h5>
                      <p> <a href="tel:+1123456789">+1 - 123 456 789</a></p>
                  </div>
              </div>
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-email-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>e-Mail</h5>
                      <p>ahowtech2022@gmail.com</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

