@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$font-titulos1: 'Montserrat', sans-serif;
$fondo1:rgba(14, 109, 126, 1.8);
$fondo2:rgba(243, 240, 240, 0.952);
$font-color1:white;

.font1{
  font-family: $font-titulos1;
  font-size: 40px;
  transition: {
    property: font-size;
    duration: 4s;
    delay: 2s;
  }

  &:hover { font-size: 36px; }
}
.fondo1{
  background-color: $fondo1;
}
.fondo2{
  background-color: $fondo2;
}
.letrafondo1{
  color:$font-color1;
}
.letrafondo2{
  color:$font-color1;
  font-style: italic;
}
ul,ol,dl,p {
  font-size: 1.25rem;
}

li, p {
  line-height: 1.5;
}
// Transiciones
.cuadro1{
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  transition: width 2s, height 2s, transform 2s;
}
.cuadro1:hover{
  width: auto;
  height: 300px;
  transform: rotate(360deg);
}
