<main class="nav-spacer py-4">
  <div class="bg-primary-gradient bg-lines-01">
    <div class="container-flex">
      <div class="text-center pt-4">
        <h1 class="font1" style="font-family: monserrat, Helvetica, sans-serif;">PRESSURED SEALED PENETRATOR</h1>
      </div>
      <div class="text-center">
        <figure class="col-12 p-0 m-0">
          <img src="../../../assets/images/products/Product1A.jpg" alt="PRESSURED SEALED PENETRATOR"
            style="height:50%; width: 50%;">
          <img src="../../../assets/images/products/Product3.jpg" alt="PRESSURED SEALED PENETRATOR"
            style="height:50%; width: 50%;">
        </figure>
      </div>
    </div>
  </div>

  <div class="bg-primary-gradient bg-lines-01 fondo1">
    <section class="container pb-3 pb-md-4">
      <div class="row text-center">
        <h2 class="col-md-8 pt-2 pt-md-4 mx-auto letrafondo1">
          “Where SERVICE is everything, but SAFETY comes First”
        </h2>
        <h3 class="col-md-8 pt-2 pt-md-4 mx-auto letrafondo1">
          “All our equipments are Manufactured with ENVIRONMENTALLY FRIENDLY PRODUCTS”
        </h3>
      </div>
    </section>
  </div>

  <div class="bg-primary-gradient bg-lines-02 fondo2">
    <section class="container pb-3 pb-md-4">
      <div class="row text-center">
        <h2 class="col-md-12 pt-2 pt-md-4 mx-auto">
          Engineered with the vision to be:
        </h2>

        <h3 class="col-md-8 pt-2 pt-md-4 mx-auto">
          <div class="row">
            <div class="col">
              <ul>
                <li><i class="ion-ios-checkmark">Reliable</i></li>
                <li><i class="ion-ios-checkmark">Universal</i></li>
                <li><i class="ion-ios-checkmark">Reusable</i></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><i class="ion-ios-checkmark">Easy to install</i></li>
                <li><i class="ion-ios-checkmark">Reduce rig time</i></li>
                <li><i class="ion-ios-checkmark">Cost Effective</i></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <ul>
              <li><i class="ion-ios-checkmark">For any weather condition</i></li>
            </ul>
          </div>

        </h3>

      </div>
    </section>
  </div>

  <div class="bg-primary-gradient bg-lines-03 fondo1">
    <section class="container pb-3 pb-md-4">
      <div class="row text-center">
        <h2 class="col-md-8 pt-2 pt-md-4 mx-auto letrafondo1">
          Features:
        </h2>


        <div class="container-box">

          <a href="#" data-bs-toggle="modal" data-bs-target="#conectorModal">
            <div class="box box1">

              <i class=""><img class="icon" src="../../../assets/iconos/Conectors3.jpg" style="width:25%; height:25%;"
                  alt="Conectors"></i>
              <h4 class="title">Conectors</h4>
              <p>Penetrators & ESP cable size</p>
              <div class="background-hover"></div>

            </div>
          </a>



          <a href="#" data-bs-toggle="modal" data-bs-target="#elastomerModal">
            <div class="box box2">

              <i class=""><img class="icon" src="../../../assets/iconos/Elastomer1.jpg" style="width:45%; height:45%;"
                alt="Elastomer"></i>
              <h4 class="title">Materials</h4>
              <p>Elastomer Materials</p>
              <div class="background-hover"></div>

            </div>
          </a>

          <a href="#" data-bs-toggle="modal" data-bs-target="#temperatureModal">
            <div class="box box3">

              <i class="fas fa-temperature-high icon"></i>
              <h4 class="title">Temperature</h4>
              <p>Temperature rating.</p>
              <div class="background-hover"></div>

            </div>
          </a>

          <a href="#" data-bs-toggle="modal" data-bs-target="#electricalModal">
            <div class="box box4">

              <i class="fas fa-charging-station icon"></i>
              <h4 class="title">Electrical Variables</h4>
              <p>Voltage and amperage ratings.</p>
              <div class="background-hover"></div>

            </div>
          </a>

          <a href="#" data-bs-toggle="modal" data-bs-target="#junctionboxModal">
            <div class="box box5">

              <i class=""><img class="icon" src="../../../assets/iconos/JuctionBox1.jpg" style="width:50%; height:50%;"
                alt="JuctionBox"></i>
              <h4 class="title">Junction Box</h4>
              <p>Surface connection box.</p>
              <div class="background-hover"></div>

            </div>
          </a>

          <a href="#" data-bs-toggle="modal" data-bs-target="#presionModal">
            <div class="box box6">

              <i class=""><img class="icon" src="../../../assets/iconos/Presion2.png" style="width:25%; height:25%;"
                  alt="Presion"></i>
              <h4 class="title">Pressure</h4>
              <p>Pressure Rating</p>
              <div class="background-hover"></div>

            </div>
          </a>

        </div>


        <!--h3-- class="col-md-12 pt-2 pt-md-4 mx-auto letrafondo2">
          <ul>
            <li><i class="ion-ios-checkmark"></i>Lower feedthrough connector is 316 SS NACE MR 0175. <br> Environment
              conditions: Concentration 100% CO2 gas or liquid and 65,000 PPM H2S. <br>(Other metallurgies available
              upon
              request); upper connector is cast aluminum. </li>
            <li><i class="ion-ios-checkmark"></i>Available in various elastomer materials following customer standards.
            </li>
            <li><i class="ion-ios-checkmark"></i>Temperature rating from 392°F to 650°F. (200⁰C to 343⁰C)</li>
            <li><i class="ion-ios-checkmark"></i>Optional 90° upper connector reduces clearance issues. </li>
            <li><i class="ion-ios-checkmark"></i>Short lower mechanical seal connector needs less clearance room. </li>
            <li><i class="ion-ios-checkmark"></i>Accommodates any ESP cable size conductor and flat or round profiles
              and different types of conductor barriers. </li>
            <li><i class="ion-ios-checkmark"></i>Rated to maximum voltage and amperage ratings of the actual
              customer-supplied cabling or Ahow Tech supplied surface cable. <br>Standard voltage rating of seals is
              5,000
              volts AC. </li>
            <li><i class="ion-ios-checkmark"></i>Junction box (surface connection box) is available in different
              hazardous environment classifications. <br> Class 1, Division 1 or Class 1, Division 2. <br> and can
              connect to any
              size Flat, Round or submarine Power surface Cable</li>
            <li><i class="ion-ios-checkmark"></i>Pressure rating is 5,000 PSI.</li>

          </ul>
        </!--h3-->
      </div>
    </section>
  </div>


  <div class="bg-primary-gradient bg-lines-05 fondo2">
    <section class="container pb-3 pb-md-4">
      <h4 class="pt-2">Meeting the international standards of quality and safety</h4>
      <div class="text-center">
        <figure class="col-12 p-2 m-0">
          <img src="../../../assets/images/products/Product4A.jpg" alt="International Standards"
            style="height:100%; width: 100%;">
        </figure>
      </div>
    </section>
  </div>
</main>



<!--   Modals   -->
<div style="z-index: 1030;">
  <div class="modal fade" id="conectorModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Conectors & ESP cable size</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>Lower feedthrough connector is 316 SS NACE MR 0175. <br> Environment
            conditions: Concentration 100% CO2 gas or liquid and 65,000 PPM H2S. <br>(Other metallurgies available
            upon request); upper connector is cast aluminum. </p>
          <p><i class="ion-ios-checkmark"></i> Optional 90° upper connector reduces clearance issues. </p>
          <p><i class="ion-ios-checkmark"></i> Short lower mechanical seal connector needs less clearance room.</p>
          <p><i class="ion-ios-checkmark"></i> Accommodates any ESP cable size conductor and flat or round profiles and different types of conductor barriers.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="elastomerModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Elastomer Materials</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>Available in various elastomer materials following customer standards.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="temperatureModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Temperature</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>Temperature rating from 392°F to 650°F. (200⁰C to 343⁰C).</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="electricalModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Electrical Variables</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>AT-1 System Don’t have Splice NO Connection inside the well below the hanger thus NO FAILURE in the electrical circuit.</p>
          <br>
          <p><i class="ion-ios-checkmark"></i>Since AT-1 System doesn’t interrupt the pump cable electrical circuit it is Rated to maximum voltage and amperage ratings of the actual customer-supplied cabling or Ahow Tech supplied surface cable. Standard voltage rating of seals is 5,000 volts AC.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="junctionboxModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Junction Box</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>Junction box (surface connection box) is available in different hazardous environment classifications. Class 1, Division 1 or Class 1, Division 2. and can connect to any size Flat, Round or submarine Power surface Cable.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="presionModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
    data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Pressure</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="ion-ios-checkmark"></i>Pressure rating is 5,000 PSI.</p>
          <p><i class="ion-ios-checkmark"></i>Positive Mechanical seal TESTED to 8,000 psi.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary">Save changes</!--button-->
        </div>
      </div>
    </div>
  </div>


</div>
