<section class="content10">
  <div class="text-left block-title">
    <h1>SERVICES:</h1>
  </div>
  <div class="block-content">
      <h4>SPECIAL PROJECTS</h4>
      <div class="row">
        <article class="art23">
          AHOW TECHNOLOGIES provides innovative, reliable solutions for various special customer needs, supported by a group of highly experienced engineers in the oil sector. <br>
          Our solutions are reliable and responsive, meeting the international standards of quality and safety.
        </article>
      </div>
      <br>
      <div class="bg-primary-gradient bg-lines-01">
        <div class="container-flex">
          <div class="text-center">
            <figure class="col-12 p-0 m-0">
              <img src="../../../assets/images/products/Product5C.jpg" alt="International Standards"
                style="height:100%; width: 100%;">
            </figure>
          </div>
        </div>
      </div>

  </div>
</section>
