<section class="content">
  <div class="text-left block-title">
    <h1>SERVICES:</h1>
  </div>
  <div class="block-content">
      <h4>SPECIAL PROJECTS</h4>
      <div class="row">
        <article>
          AHOW TECHNOLOGIES provides innovative, reliable solutions for various special customer needs, supported by a group of highly experienced engineers in the oil sector. <br>
          Our solutions are reliable and responsive, meeting the international standards of quality and safety.
        </article>

        <!--
          <div class="col-md-10 mx-auto">
              <div *ngFor="let blox of cv.blog">
                <div class="post">
                  <div class="post-thumbnail">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" [src]="getVideoIframe(blox.src)" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="post-title">
                      <a href="#"><h2>{{ blox.titulo }}</h2></a>
                      <p class="post-info">
                          <span class="post-author">{{ blox.autor }}</span>
                          <span class="slash"></span>
                          <span class="post-date">{{ blox.fecha }}</span>
                          <span class="slash"></span>
                          <span class="post-catetory">{{ blox.categoria }}</span>
                      </p>
                  </div>
                  <div class="post-body">
                      <a class="btn" target="_blank" href="{{ blox.url }}">Ver Mas</a>
                  </div>
                </div>
              </div>
          </div>
          -->
      </div>

      <div class="bg-primary-gradient bg-lines-01">
        <div class="container-flex">
          <div class="text-center">
            <figure class="col-12 p-0 m-0">
              <img src="../../../assets/images/products/Product5B.jpg" alt="International Standards"
                style="height:100%; width: 100%;">
            </figure>
          </div>
        </div>
      </div>

  </div>
</section>
